<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YLSideLipView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>22A4526B1C2BE5FC006930A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A4527F1C2BE5FC006930A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22A4528A1C2BE5FC006930A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
